<p>
  <%= link_to "Pet Index", "/pets" %>
  <%= link_to "Shelter Index", "/shelters" %>
</p>

<img src="<%=@pet.image %>"
<h1><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h1>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>

<%= link_to "Update Pet", "/pets/#{@pet.id}/edit"  %>
<br>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete  %>
